.section1{
    background-image: url("https://www.samatapat.com/admin/uploads/noticepage/career654f2fe1b2acd.jpg" );
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;

    
}